<!-- Sidebar -->
<div class="sidebar">
  <h4>My Bank</h4>
  <a routerLink="/dashboard-data"><i class="fa fa-tachometer-alt me-2"></i> Dashboard</a>
  <a routerLink="/adminProfile"><i class="fa fa-layer-group me-2"></i> Manage User</a>
  <a routerLink="/Userlogin"><i class="fa fa-boxes me-2"></i> Manage Accounts</a>
  <a href="#"><i class="fa fa-cogs me-2"></i>Setting</a>
  <a href="#" routerLink="/adminProfile"><i class="fa fa-user-edit me-2"></i>Profile</a>
</div>
<div class="main-content">
     <!-- Top Navbar -->
  <nav class="navbar navbar-expand navbar-light navbar-skydash">
    <div class="container-fluid">
      <button class="btn btn-light d-md-none me-2">
        <i class="fas fa-bars"></i>
      </button>
      <form class="d-none d-md-block w-50">
        <input class="form-control search-box" type="search" placeholder="Search now" aria-label="Search">
      </form>
      <div class="ms-auto d-flex align-items-center gap-3">
        <i class="fa fa-bell fs-5"></i>
        <img src="https://randomuser.me/api/portraits/men/75.jpg" class="avatar" alt="User" />
      </div>
    </div>
  </nav>
</div>